html5
html
  head
    title= pageTitle
    meta(name="google-site-verification" content="NOtjLLTWwGbR_iBKPQ2mTNKXnLZbXxfZVwfUwE1VQrY")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://cdn.jsdelivr.net/jqplot/1.0.8/jquery.jqplot.min.js')
    script(src='https://cdn.jsdelivr.net/jqplot/1.0.8/plugins/jqplot.logAxisRenderer.min.js')
    script(src='https://cdn.jsdelivr.net/jqplot/1.0.8/plugins/jqplot.canvasTextRenderer.min.js')
    script(src='https://cdn.jsdelivr.net/jqplot/1.0.8/plugins/jqplot.canvasAxisLabelRenderer.min.js')
    script(src='https://cdn.jsdelivr.net/jqplot/1.0.8/plugins/jqplot.canvasAxisTickRenderer.min.js')
    script(src='https://cdn.jsdelivr.net/jqplot/1.0.8/plugins/jqplot.dateAxisRenderer.min.js')
    script(src='https://cdn.jsdelivr.net/jqplot/1.0.8/plugins/jqplot.categoryAxisRenderer.min.js')
    script(src='https://cdn.jsdelivr.net/jqplot/1.0.8/plugins/jqplot.barRenderer.min.js')
    script(src='https://cdn.jsdelivr.net/jqplot/1.0.8/plugins/jqplot.highlighter.min.js')
    script(src='https://cdn.jsdelivr.net/jqplot/1.0.8/plugins/jqplot.cursor.min.js')
    script(src='https://cdn.jsdelivr.net/jqplot/1.0.8/plugins/jqplot.pointLabels.min.js')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/jqplot/1.0.8/jquery.jqplot.min.css')
    script(src='./scripts/MeteoPehuajo.js')
  body
    header
      #titulo
        p Meteo 
          em Pehuajo
        span Registrese
        img(src='./images/redes.png')
      #head
        ul
          li Inicio
          li Mapas
          li Lluvias
          li Pronostico
          li Contacto
      #fondo
        #publiLeft.publicidad
          img(src='./images/auspicio12.jpg')
          img(src='./images/auspicio01.jpg')
        #publiRight.publicidad
          img(src='./images/auspicio12.jpg')
          img(src='./images/auspicio01.jpg')
          p Publicite aquí
        #content
          #imagenPagina
            img(src='./images/encabezado.jpg')
          block content
      #foot
        p pie de página
