html5
html
  head
    title= pageTitle
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      #head 
        h2= pageTitle
      #foot
        p pie de página
      #fondo
        #publiLeft.publicidad
          img(src='./images/aso.png')
        #publiRight.publicidad
          p Publicite aquí
        #content
          block content
