html5
html
  head
    title= pageTitle
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      #titulo
        p Meteo 
          em Pehuajo
        span Registrese
        img(src='./images/redes.png')
      #head
        ul
          li Inicio
          li Mapas
          li Lluvias
          li Pronostico
          li Contacto
      #fondo
        #publiLeft.publicidad
          img(src='./images/auspicio12.jpg')
          img(src='./images/auspicio01.jpg')
        #publiRight.publicidad
          img(src='./images/auspicio12.jpg')
          img(src='./images/auspicio01.jpg')
          p Publicite aquí
        #content
          #imagenPagina
            img(src='./images/encabezado.jpg')
          block content
      #foot
        p pie de página
