html5
html
  head
    title= pageTitle
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      #head 
        h1= pageTitle
      #foot
        p pie de página
      #fondo
        #publiLeft.publicidad
          p publicidad izquierda
        #publiRight.publicidad
          p publicidad derecha
        #content
          block content
