html5
html
  head
    title= pageTitle
  body
    header
      #head 
        h1= pageTitle
      #foot
        p pie de página
      #publiLeft
        p publicidad izquierda
      #publiRight
        p publicidad derecha
      #content
        block content
