#foot
{
  background-color: rgb(165, 165, 165);
  color: white;
  clear: both;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 0px;
  z-index: 5;
  width: 100%;
}
.publicidad > img{
  width: 200px;
}
.circle {
	border-radius: 50%;
	width: 50px;
	height: 50px;/* width and height can be anything, as long as they're equal */
	margin: auto;
	background-color: #37c0fb;
}

.circle > img {
    width: 50%;
    height: 50%;
    position: relative;
    top: 25%;
}
#head {
    background-color: #474747;
    text-align: center;
    padding: 2px;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    height: 50px;
    z-index: 50;
    /* position: fixed; */
    width: 100%;
    top: 0px;
    color: white;
    border-bottom-color: #37C0FB;
    border-bottom-width: 10px;
    border-bottom-style: solid;
}
div#content {
    background-color: white;
    padding: 0px 0px 0px 0px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    /* width: 900px; */
    /* display: flex; */
    justify-content: space-between;
    text-align: center;
}

div#titulo {
    height: 80px;
    background-color: white;
    font-family: SourceSansPro;
    font-weight: 600;
    font-style: normal;
    font-size: 2.5em;
    color: #474747;
}
p > em {
    font-size: 1em;
    font-style: normal;
    font-weight: 300;
}


body {
  margin: 0px;
  font: 14px "S", Helvetica, Arial, sans-serif;
  background-color: rgb(231, 231, 231);
  text-align: center;
}


div#weather {
display: flex;border-bottom: lightgray;border-bottom-style: solid;border-bottom-width: thin;}

#medidas > div {
    width: 25%;
}

.medida {
    font-size: x-large;
}

div#medidas {
    display: flex;
    border-bottom: lightgray;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

div#publiRight {
    float: right;
}

div#publiLeft {
    float: left;
}

.publicidad {
  width: 220px;
  text-align: center;
  background: white;
  height: 80%;
  margin: 10px;
  padding-top: 10px;
}

div#fondo {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    /* margin-top: 15px; */
    padding: 64px 0px 54px 0px;
    /* overflow: hidden; */
    height: 100%;
}
@font-face {
    font-family: SourceSansPro;
    src: url('../fonts/source-sans-pro/SourceSansPro-Regular.otf');
}
@font-face {
    font-family: SourceSansPro;
    src: url('../fonts/source-sans-pro/SourceSansPro-Bold.otf');
    font-weight: bold;
}
@font-face {
    font-family: SourceSansPro;
    src: url('../fonts/source-sans-pro/SourceSansPro-Italic.otf');
    font-style: italic;
}
@font-face {
    font-family: SourceSansPro;
    src: url('../fonts/source-sans-pro/SourceSansPro-BoldItalic.otf');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: SourceSansPro;
    src: url('../fonts/source-sans-pro/SourceSansPro-Light.otf');
    font-weight: 300;
}
@font-face {
    font-family: SourceSansPro;
    src: url('../fonts/source-sans-pro/SourceSansPro-LightItalic.otf');
    font-style: italic;
    font-weight: 300;
}
