#foot
{
  background-color: rgb(165, 165, 165);
  color: white;
  clear: both;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 0px;
  z-index: 5;
  width: 100%;
}
.publicidad > img{
  width: 200px;
}
#head {
    background-color: black;
    text-align: center;
    padding: 2px;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    height: 50px;
    z-index: 50;
    position: fixed;
    width: 100%;
    top: 0px;
    color: white;
}
div#content {
    background-color: white;
    padding: 0px 0px 0px 0px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    /* width: 900px; */
    /* display: flex; */
    justify-content: space-between;
    text-align: center;
}

body {
  margin: 0px;
  font: 14px "S", Helvetica, Arial, sans-serif;
  background-color: rgb(231, 231, 231);
  text-align: center;
}

div#weather {
display: flex;border-bottom: lightgray;border-bottom-style: solid;border-bottom-width: thin;}

#medidas > div {
    width: 25%;
}

.medida {
    font-size: x-large;
}

div#medidas {
    display: flex;
    border-bottom: lightgray;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

div#publiRight {
    float: right;
}

div#publiLeft {
    float: left;
}

.publicidad {
  width: 220px;
  text-align: center;
  background: white;
  height: 80%;
  margin: 10px;
  padding-top: 10px;
}

div#fondo {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    /* margin-top: 15px; */
    padding: 54px 0px 54px 0px;
    /* overflow: hidden; */
    height: 100%;
}
